<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 수정</title>
</head>
<body>
<p><a th:href="@{/project/archive}"><</a></p>

<h1>프로젝트 수정하기</h1>

<form th:action="@{/project/edit/{id}(id=${project.id})}" th:object="${project}" method="post">
    <div>
        <label for="projectName">프로젝트 이름:</label>
        <input type="text" id="projectName" th:field="*{projectName}" />
    </div>
    <div>
        <label for="category">카테고리:</label>
        <input type="text" id="category" th:field="*{category}" />
    </div>
    <div>
        <label for="deadline">마감일 (캘린더):</label>
        <input type="date" id="deadline" th:field="*{deadline}" />
    </div>
    <div>
        <label for="themeColor">테마 색상:</label>
        <input type="text" id="themeColor" th:field="*{themeColor}" />
    </div>
    <button type="submit">완료</button>
</form>

<p><a th:href="@{/project/archive}">취소</a></p>

</body>
</html>