server:
  port: 8080
  forward-headers-strategy: framework
  servlet:
    session:
      cookie:
        http-only: true
        secure: true      # HTTPS(https://localhost:3000) 통신 시 필수
        same-site: none   # 크로스 도메인 간 쿠키 전송 시 필수
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

spring:
  profiles:
    active: dev
  output:
    ansi:
      enabled: always
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true