<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>
<h1>마이페이지</h1>

<div th:if="${#authentication.principal.member.nickname != null}"
     th:with="member=${#authentication.principal.member}"
     th:style="|background-color: ${member.avatarColor};
                   width: 36px; height: 36px; border-radius: 50%;
                   display: flex; align-items: center; justify-content: center;
                   color: white; font-weight: bold; font-size: 1.2em; margin-right: 8px;|">
    <span th:text="${member.initial}"></span>
</div>
<p th:text="'안녕하세요, ' + ${nickname} + ' 님!'"></p>

<p><a th:href="@{/member/login}">로그아웃</a></p>
<form action="/member/withdraw" method="post"
      onsubmit="return confirm('정말로 탈퇴하시겠습니까?');">
    <button type="submit" style="color: red;">회원탈퇴</button>
</form>

<!--하단바-->
<br/>
<br/>
<hr/>
<a th:href="@{/home/main}">메인화면</a> |
<a th:href="@{/member/my-calendar}">캘린더</a> |
<a th:href="@{/project/new}">생성</a> |
<a th:href="@{/project/archive}">보관함</a> |
<a>마이페이지</a>
</body>
</html>